/* ======= RESPONSIVE LAYOUT ====== */

:root {
  --main-gap: 24px;
}

.Dashboard {
  height: 100vh;
  width: 100vw;
  padding: var(--main-gap);
}
.Dashboard_MainFlex {
  display: flex;
  gap: var(--main-gap);
}
.Block {
}
.BlockLeft {
  width: 60%;
}
.BlockRight {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
}
.BlockRightA {
  height: 20%;
}
.BlockRightB {
  height: calc(60% - (2 * var(--main-gap)));
}
.BlockRightC {
  height: 20%;
}

@media (max-width: 860px) {
  .Dashboard_MainFlex {
    flex-direction: column;
  }
  .Block {
    width: 100%;
  }
}

/* ======= LEFT CONTENT ====== */

.LeftImage {
  /* Se recomienda tener la imagen en un formato cuadrado para una mejor visualización */
  width: 100%;
  object-fit: contain;
  max-width: 90%;
  max-height: 90%;
}
